# 1.	Write a Python program to convert kilometers to miles?

In [13]:
def convertor():
    s=input("type 1 for KM to Mile for Mile to KM type 2")
    a=float(input("Enter the distance"))
    if s=="1":
        return (a/1.60934)
    elif s=="2":
            return a*1.60934
    else:
        return "enter valid number 1 or 2 only"

In [14]:
convertor()

type 1 for KM to Mile for Mile to KM type 22
Enter the distance100

160.934

In [15]:
convertor()

type 1 for KM to Mile for Mile to KM type 21
Enter the distance100

62.137273664980675

In [16]:
convertor()

type 1 for KM to Mile for Mile to KM type 25
Enter the distance100

'enter valid number 1 or 2 only'

# 2.	Write a Python program to convert Celsius to Fahrenheit?

In [45]:
def convertor2(x):#x is the input value in s unit
    s=input("Enter the unit of your data C or F-->")# s is unit in which you want to enter data and
    if s=="c" or s=="C":
        return 1.8*x+32
    elif s=="f"or s=="F":
        return 5*(x-32)/9
    else:
        return "wrong unit"

In [46]:
convertor2(100)

Enter the unit of your data C or F-->c

212.0

In [47]:
convertor2(200)

Enter the unit of your data C or F-->d

'wrong unit'

# 3.	Write a Python program to display calendar?

In [48]:
import calendar
print(calendar.calendar(2022))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

In [55]:
print(calendar.month(2022,11))

   November 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30

# 4.	Write a Python program to solve quadratic equation?

In [83]:
def quadratic(a,b,c):
    d=b**2-4*a*c
    if d>=0:
        import math
        x=(-b+(math.sqrt(b**2-4*a*c)))/2*a
        y=(-b-(math.sqrt(b**2-4*a*c)))/2*a
        return x,y
    else:
        import cmath
        x=(-b+(cmath.sqrt(b**2-4*a*c)))/2*a
        y=(-b-(cmath.sqrt(b**2-4*a*c)))/2*a
        return x,y

In [84]:
quadratic(1,-2,1)

(1.0, 1.0)

In [86]:
quadratic(1,4,3)

(-1.0, -3.0)

In [85]:
quadratic(1,2,5)

((-1+2j), (-1-2j))

# 5.	Write a Python program to swap two variables without temp variable

In [60]:
a,b=int(input()),int(input())
print("entered numbers are a=",a,"and b=",b)
a,b=b,a
print("numbers after swap are a=",a,"and b=",b)

50
100
entered numbers are a= 50 and b= 100
numbers after swap are a= 100 and b= 50