# 1.	Write a Python Program to Find the Factorial of a Number?

In [14]:
def factorial(a):
    fact=1
    if a<0:
        return "Factorial is Not define for NEGATIVE Numbers"
    else:
        while a>1:
            fact=fact*a
            a=a-1
    return fact

In [15]:
factorial(5)

120

In [31]:
factorial(-10)

'Factorial is Not define for NEGATIVE values'

In [34]:
factorial(4)

24

In [19]:
def Rfact(a):
    if a<0:
        return "Fcatorial is not define for Negative Numbers"
    elif (a==0 or a==1):
        return 1
    else:
        return a*Rfact(a-1)

In [20]:
Rfact(5)

120

In [21]:
Rfact(-4)

'Fcatorial is not define for Negative Numbers'

# 2.	Write a Python Program to Display the multiplication Table?

In [28]:
def Multiplication_Table(n):# Enter the number whose multiplication you want
    for i in range(1,11):
        print('{} X {} = {}'.format(i,n,i*n))

In [29]:
Multiplication_Table(5)

1 X 5 = 5
2 X 5 = 10
3 X 5 = 15
4 X 5 = 20
5 X 5 = 25
6 X 5 = 30
7 X 5 = 35
8 X 5 = 40
9 X 5 = 45
10 X 5 = 50

In [30]:
Multiplication_Table(30)

1 X 30 = 30
2 X 30 = 60
3 X 30 = 90
4 X 30 = 120
5 X 30 = 150
6 X 30 = 180
7 X 30 = 210
8 X 30 = 240
9 X 30 = 270
10 X 30 = 300

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [9]:
def Fib(n,a,b):
    if n==1:
        return a
    else:
        for i in range(n):
            new=a+b
            a=b
            b=new
            print(new)

In [10]:
Fib(10,0,1)

1
2
3
5
8
13
21
34
55
89

In [11]:
Fib(20,55,89)

144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269

# 4.	Write a Python Program to Check Armstrong Number?

In [43]:
def Armstrong_Number_scan(n):
    temp=0
    a=n
    while n>0:
        r= n%10
        temp=temp+r**3
        n=n//10
    if temp==a:
        return True
    else:
        return False

In [44]:
Armstrong_Number_scan(153)

True

In [45]:
Armstrong_Number_scan(252)

False

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [46]:
def ArmstrongNumbers(a,b):
    for i in range(a,b+1):
        m=Armstrong_Number_scan(i)
        if m==True:
            print(i)

In [47]:
ArmstrongNumbers(1,500)

1
153
370
371
407

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [48]:
def Sum_Natural_Numbers(n):# where n is upto what number
    temp=0
    for i in range(1,n+1):
        temp=temp+i
    return temp

In [52]:
Sum_Natural_Numbers(100)

5050